.form-container {
    background-color: blue;
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    height:90vh;
    justify-content: space-around;

}

.button-form {
    display: block;
    width: 30%;
}